extends layout
block content
    header.card-header
        h4.card-title Employee List
    table.table.table-striped
        thead 
            tr
                th #
                th First 
                th Last 
                th Handle
        tbody 
            tr 
                th 1
                td Mark 
                td Otto 
                td @mdo
            tr 
                th 2
                td Jacob
                td Thornton
                td @fat