extends layout
block content
    header.card-header
        h4.card-title Orders List
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/truck/trucklist')
                div.form-row
                    div.col-md-10
                        input.form-control.formsinput(name='servicerequest' placeholder="Enter your search term(Service Request) ...")
                    div.col-md-2
                        input.btn.btn-block.btn-success.formsinput(type="submit" value="Search")
    div.card.text-white.bg-dark.mb-3
        div.card-body
            table.table.table-striped
                thead 
                    tr
                        th Reg. No. 
                        th Code No.
                        th Service Type
                        th Conductors No.
                        th Timestamp
                tbody
                    if trucks.length
                    each truck in trucks
                        tr
                            td #{truck.regno}
                            td #{truck.codeno}
                            td #{truck.servicetype}
                            td
                            td 
                            td
                                a(href='/truck/update/'+truck._id)
                                    button.btn.btn-dark
                                        i.bi.bi-pencil-square
                            td
                                form(method="post" action='/truck/delete')
                                    input(type="hidden", placeholder="", name="id", value=truck._id)
                                    button.btn.btn-dark(type="submit") 
                                        i.bi.bi-x-square
            div.form-row
                div.col.form-group
                    a
                        button.btn.btn-dark(style="margin-left: 72%;")
                            h2
                                span 
                                    i.bi.bi-plus-circle-fill(style="color:white;")
                                span 
                                    a(href='/truck/createtruck' style="color:white;") Add New Truck
                                


