.forma {
  background-color: #f4f7f8;
  font-family: "Courier New OS", "Courier New OS", "Courier New OS", "Courier New OS";
  font-size: larger;
}
body{
  background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
  height: 100vh;
  font-size:larger
}
div{
  font-family: "Courier New OS", "Courier New OS", "Courier New OS","Courier New OS";
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.formsinput{
  border-radius: 15px 15px 15px 15px;
}
.newcircle{
  border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}














.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


/* button */

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.links{
  color: black;
  font-size:25px;
}